.otherNews {
  margin-left: 5%;

  .date {
    width: 115px;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
  }

  .content {
    display: flex;
  }

  .subject {
    width: 943px;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}